.pb_revisions_version {
    padding: 25px;
    background: #eee;
    margin-bottom: 15px;
    position: relative;
}

.pb_revisions_version h2{
    margin-bottom: 10px;
    margin-top: 0;
}
.pb_revisions_version h3{
    margin-bottom: 5px;
    margin-top: 0;
}

.pb_revisions_version__date{
    position: absolute;
    right: 25px;
    top: 25px;
    font-size: 80%;
}

.pb_revisions_version__summary{
    border-bottom: 1px solid;
    margin-bottom: 25px;
}

.pb_revisions_version__chapters{
    column-count: 2;
    column-gap: 25px;
}

.pb_revisions_version__chapter{
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
}

.pb_revisions_version__chapter p{
    font-size: 80%
}

.pbricons-revision{
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSIxMDI0IiB3aWR0aD0iODk2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0wIDcwNGgxMjh2LTY0SDY0VjM4NGg2NHYtNjRIMFY3MDR6TTM4NCAxOTJ2NjQwaDUxMlYxOTJIMzg0ek03NjggNzA0SDUxMlYzMjBoMjU2VjcwNHpNMTkyIDc2OGgxMjh2LTY0aC02NFYzMjBoNjR2LTY0SDE5MlY3Njh6Ii8+PC9zdmc+");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px auto;
}

.notice {
    background: #fc091b;
    padding: 6px 12px;
    text-align: center;
    color: #fff;
}

.notice a {
    color: #fff;
    text-decoration: underline;
}