/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 .pb_rev_diff_col{

 }

 .pb_rev_diff_col__added{
    background-color: #13BB0088;
 }

 .pb_rev_diff_col__removed{
    background-color: #BB002888;
 }

 .pb_rev_diff_cell{

 }

 .pb_rev_diff_cell__added{
    background-color: #13BB0088;
 }

 .pb_rev_diff_table__added .pb_rev_diff_cell__added, .pb_rev_diff_table__added .pb_rev_diff_cell__removed, .pb_rev_diff_table__removed .pb_rev_diff_cell__added, .pb_rev_diff_table__removed .pb_rev_diff_cell__removed{
    background: transparent;
 }

 .pb_rev_diff_cell__removed{
    background-color: #BB002888;
 }

 .pb_rev_diff_cell__changed{
     
 }

 .pb_rev_diff_cell__context{
     text-align: center;
     background-color: #EEE;
 }

 .pb_rev_diff_cell__changed ins{
    background-color: #13BB0088;
    text-decoration: none;
 }

 .pb_rev_diff_cell__changed del{
    background-color: #BB002888;
    text-decoration: none;
 }

 .pb_rev_diff_editor_cell{

 }
 
 .pb_rev_diff_editor_cell__to_much{
     background-color:  #bb0028;
     color: #ffffff !important;
 }

 .export-files {
    position: relative;
 }

 .export-files__date {
    position: absolute;
    right: 10px;
 }

 .toplevel_page_pb_export .export-control .export-files h2 {
    padding-left: 5px;
    border: none;
    margin-top: 15px;
    margin-bottom: 5px;
}
.toplevel_page_pb_export .export-control .export-files h3 {
    padding-left: 5px;
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;
}
.export-file-icon{
    position: relative;
}

.export-file-icon.public:before {
    content: " ";
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iRWJlbmVfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI4OTZweCIgaGVpZ2h0PSIxMDI0cHgiIHZpZXdCb3g9IjAgMCA4OTYgMTAyNCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgODk2IDEwMjQiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0wLDcwNGgxMjh2LTY0SDY0VjM4NGg2NHYtNjRIMFY3MDR6IE0zODQsMTkydjY0MGg1MTJWMTkySDM4NHogTTc2OCw3MDRINTEyVjMyMGgyNTZWNzA0eiBNMTkyLDc2OGgxMjh2LTY0aC02NFYzMjBoNjR2LTY0SDE5MlY3Njh6Ii8+PC9zdmc+");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 17px auto;
    background-color: #80A94B;
    border-radius: 22px;
    padding: 3px;
    font-size: 17px;
    border: none !important;
    color: #fff;
    top: -8px;
    right: -8px;
    position: absolute;
    width: 17px;
    height: 17px;
}
.version_table__active_version td {
    background-color: #777777;
}

.version_table__active_version td {
    color: #fff;
}

.inline_form{
    display: inline;
}

.pbricons-revision{
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSIxMDI0IiB3aWR0aD0iODk2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0wIDcwNGgxMjh2LTY0SDY0VjM4NGg2NHYtNjRIMFY3MDR6TTM4NCAxOTJ2NjQwaDUxMlYxOTJIMzg0ek03NjggNzA0SDUxMlYzMjBoMjU2VjcwNHpNMTkyIDc2OGgxMjh2LTY0aC02NFYzMjBoNjR2LTY0SDE5MlY3Njh6Ii8+PC9zdmc+");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px auto;
}

.pbricons-revision__white{
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iRWJlbmVfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI4OTZweCIgaGVpZ2h0PSIxMDI0cHgiIHZpZXdCb3g9IjAgMCA4OTYgMTAyNCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgODk2IDEwMjQiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0wLDcwNGgxMjh2LTY0SDY0VjM4NGg2NHYtNjRIMFY3MDR6IE0zODQsMTkydjY0MGg1MTJWMTkySDM4NHogTTc2OCw3MDRINTEyVjMyMGgyNTZWNzA0eiBNMTkyLDc2OGgxMjh2LTY0aC02NFYzMjBoNjR2LTY0SDE5MlY3Njh6Ii8+PC9zdmc+");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px auto;
}


.pbr-header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    width: 100%;
    top: 30px;
    z-index: 10;
}

.pbr-header__content, .pbr-footer__content {
    position: relative;
    margin-right: 20px;
    background-color: #EFEFEF;
    padding: 10px;
    display: flex;
}

.pbr-header__content{
    border-bottom: solid 1px #777777;
}

.pbr-footer__content{
    border-top: solid 1px #777777;
}

.pbr-header__content h1{
    font-size: 1.6em;
    margin: 0.34em 0;
}

.pbr-footer {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    width: 100%;
    bottom: 0;
    margin-top: 20px;
    z-index: 10;
}

.pbr-header__align-center, .pbr-footer__align-center{
    align-self: center;
}

.pbr-header__grow, .pdr-footer__grow{
    flex-grow: 1;
}

.pb_revisions_version__chapters{
    column-count: 2;
    column-gap: 25px;
    padding: 5px 15px;
}

.pb_revisions_version__chapter{
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
}

.pb_revisions_version__chapter p{
    font-size: 80%
}

.pb_revisions_version__chapter h3 {
    margin-bottom: 5px;
    margin-top: 0;
    font-size: 1em;
}

.button.pb_revisions_version__edit_button{
    vertical-align: baseline;
    margin-left: 5px;
}

.pbr_go_to_chapter_list {
    text-align: center;
}

.pbr_go_to_chapter_list__list {
    column-count: 3;
    column-gap: 25px;
    padding: 15px;
}

.button.pbr_go_to_chapter_list__chapter_button, .button.pbr_go_to_chapter_list__chapter_button:hover, .button.pbr_go_to_chapter_list__chapter_button:focus {
    display: block;
    background: none;
    border: none;
    box-shadow: none;
    color: #d4002d;
    text-decoration: underline;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
}

.button.pbr_go_to_chapter_list__chapter_button:hover{
    color: #d4002d;
}

.select_version {
    display: flex;
}

.select_version__versions {
    width: 33%;
    background: #fff;
    margin: 15px;
    padding: 15px;
}

.select_version__create_form {
    text-align: center;
}